<div class="container flex flex-wrap p-8 lg:items-center lg:justify-center">
    
    <div
        class="{{bgColor}} w-full md:w-1/2 text-black p-4 lg:flex lg:flex-col lg:justify-center lg:p-12 {{containerClasses}}">
        
        <img class="w-full mb-8 lazyload max-w-64 mix-blend-multiply" data-src="{{theme.link}}/_resources/images/logo.svg" alt="Jules Smith Logo" width="1175"
            height="760" />

        <div class={{contentClasses}}>
           {{content}}
        </div>

        {% if slug %}
            <a href={{slug}}
                class="inline-flex items-center mt-8 font-sans text-lg font-bold transition-all duration-200 text-pink hover:pl-2">
                {{linkText}}
                {{ function('icon', 'angle-right', 'w-4 h-4') }}
            </a>
        {% endif %}
    </div>

    <div class="relative w-full md:w-1/2 my-12 lg:mt-0 lg:aspect-[1/1] lg:max-w-screen-sm">
        <div class="absolute top-0 left-0 z-0 w-full h-full bg-white shadow-lg rotate-3"></div>
        <img class="relative top-0 left-0 z-10 object-cover object-center w-full shadow-lg lazyload lg:absolute" alt="Jules Smith Bio" data-src="{{image}}" />
    </div>
</div>
