{% set bucketBgColors = ["bg-red", "bg-blue", "bg-orange"] %}

<div class="{{index is same as 2 ? 'sm:col-span-2 lg:col-span-1' : 'sm:col-span-1 lg:col-span-1'}}">
    
    <a href="{{link}}" class="flex flex-col h-full overflow-hidden shadow-lg group {{bucketBgColors[index]}}">
        <div class="relative overflow-hidden aspect-video">
            <img width="{{imageWidth}}" height="{{imageHeight}}" class="absolute inset-0 z-0 object-cover object-center w-full h-full transition-all duration-700 opacity-75 lazyload group-hover:scale-105" data-src="{{image}}" alt="{{title}}">
        </div>

        <div class="{{bucketBgColors[index]}} flex flex-col p-12 pb-0 text-white">
            <div class="mb-8">
                <h2>{{title}}</h2>
                <p>{{content}}</p>
            </div>
        </div>
        <span
            class="inline-block px-12 mt-auto mb-12 font-sans text-lg font-bold text-white transition-all group-hover:ml-2">
            {{title}}
            {{ function('icon', 'angle-right', 'w-4 h-4') }}
        </span>
    </a>
</div>
