<div class="comment-form {{reply ? 'comment-reply-form' : ''}}">
    <h3 id="reply-title" class="comment-reply-title">Leave a {{reply ? 'Reply' : 'Comment'}}</h3>
    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> <span
            class="required-field-message">Required fields are marked <span class="required">*</span></span></p>
    <form class="comment-form" method="post" action="{{ site.site_url~'/wp-comments-post.php' }}">
        {% if user %}
        <input type="hidden" name="email" value="{{ user.email }}">
        <input type="hidden" name="author" value="{{ user.name }}">
        <input type="hidden" name="url" value="{{ user.link }}">
        {% else %}
        <label class="sr-only">Email *</label>
        <input placeholder="Email *" required name="email" type="email" id="email">
        <label class="sr-only">Name *</label>
        <input placeholder="Name *" required name="author" type="text">
        <label class="sr-only">Website</label>
        <input placeholder="Website" name="url" type="url">
        {% endif %}
        <label class="sr-only">Comment</label>
            <textarea required placeholder="Leave a comment... *" name="comment" cols="60" rows="8"></textarea>
        <input name="comment_post_ID" value="{{ post.id }}" type="hidden">
        <input name="comment_parent" value="{{ comment.ID|default('0') }}" type="hidden">
        <input type="submit" name="Submit" class="inline-block px-4 py-2 ml-auto font-sans font-bold text-white transition duration-300 border-none cursor-pointer bg-red hover:opacity-100 opacity-80" />
    </form>
</div>
