<a href={{link}} target="_blank" rel="noreferrer"
    class="flex h-20 w-20 items-center justify-center rounded-full font-sans font-bold uppercase transition duration-200 hover:-rotate-12 hover:scale-105 {{bgColor}} {{textColor}}">
    {{label}}
    {{ function('icon', 'angle-right', 'w-4 h-4') }}
</a>
