{% extends '_layout/base.twig' %}

{% block hero %}
	{% include "_views/_components/banner.twig" with {
		image: post.meta("banner_image").url
	} %}

	{% include "_views/_components/banner-content.twig" with {
		containerClassNames: "bg-teal-dark",
		textClassNames: "text-white",
		intro: post.meta('banner_content'),
		isFilters: true,
		options: book_categories,
	} %}
{% endblock %}

{% block content %}

	<div class="py-8 bg-gray-100 lg:py-16">
		<div class="container">
			<div class="mx-auto lg:w-10/12">

				{% if books %}

				<div class="grid w-full grid-cols-2 gap-8 mx-auto md:grid-cols-4">

					{% for item in books %}

						<a data-category="{{item.terms('book-categories')[0].slug}}" class="block book-link group" href="{{site.url}}/books/{{item.slug}}/">
							<img class="lazyload" data-src="{{item.meta('image').sizes.medium_large}}" alt="{{item.title}}"/>
							<span class="block mt-4 font-sans text-lg font-bold text-center ">
								{{item.title}}
							</span>
						</a>
					
					{% endfor %}

				</div>

				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
