{% extends '_layout/base.twig' %}

{% block hero %}
{% endblock %}

{% block content %}

<div
	class="absolute left-1/2 -mt-2 hidden h-12 w-12 -translate-x-1/2 overflow-hidden rounded-full bg-[#000] p-3 md:block">
	<img loading="lazy" src="{{theme.link}}/_resources/images/inverted-hat.webp" alt="Head Of The Fable" />
</div>

<div class="pt-20 bg-gray-100">
	<div class="container">
		<div class="grid grid-cols-12 gap-y-12 md:gap-20">
			<div class="col-span-12 md:col-span-4">

				<img class="max-w-full mx-auto lazyload" data-src="{{post.meta('image').sizes.medium_large}}" alt="{{post.title}}" />	

				{% if post.purchase_link %}
					<div class="my-4">
						{% include "_views/_components/purchase-link.twig" with {
							link: post.purchase_link,
							label: "Buy",
							bgColor: "bg-pink",
							textColor: "text-white",
						} %}
					</div>
				{% endif %}

				{% if post.paperback_price or post.ebook_price %}
				<div class="py-12">
					{% if post.paperback_price %}
						<p class="flex justify-between my-2">
							<span class="font-sans font-bold uppercase">Paperback</span>
							£{{post.paperback_price}}
						</p>
					{% endif %}
					
					{% if post.ebook_price %}
					<p class="flex justify-between my-2">
						<span class="font-sans font-bold uppercase">Ebook</span>
						£{{post.ebook_price}}
					</p>
					{% endif %}
				</div>
				{% endif %}

				{% if post.published_date or post.format|length > 0 or post.edition or post.extent or post.publisher or post.isbn_paperback %}
				<div class="py-12 border-t border-black">
					<h2>Product details</h2>
					
					{% if post.author %}
						{% include "_views/_components/book-detail.twig" with {
							title: "Author",
							detail: post.meta('author'),
						} %}
					{% endif %}
					{% if post.published %}
						{% include "_views/_components/book-detail.twig" with {
							title: "Published Date",
							detail: post.meta('published'),
						} %}
					{% endif %}

					{% if post.meta('format') %}
					<p class="flex justify-between my-2">
						<span class="">Format</span>
						{{post.meta('format')|join(', ') }}
					</p>
					{% endif %}
					{% if post.edition %}
						{% include "_views/_components/book-detail.twig" with {
						title: "Edition",
						detail: post.edition,
						} %}
					{% endif %}
					{% if post.extent %}
						{% include "_views/_components/book-detail.twig" with {
						title: "Extent",
						detail: post.extent,
						} %}
					{% endif %}
					
					{% if post.publisher %}
						{% include "_views/_components/book-detail.twig" with {
						title: "Publisher",
						detail: post.publisher,
						} %}
					{% endif %}
					{% if post.isbn_paperback %}
						{% include "_views/_components/book-detail.twig" with {
						title: "ISBN Paperback",
						detail: post.isbn_paperback,
						} %}
					{% endif %}
				</div>
				{% endif %}
			
			</div>

			<div class="col-span-12 md:col-span-8">
				<h1>{{post.title}}</h1>
				<div class="copy md:max-w-2xl">
					{{post.meta('content')|apply_filters('the_content')}}
				</div>
			</div>

		</div>		

	</div>

	{% if post.meta('related_titles') %}
		<div class="py-12 mt-12 bg-gray-200">
			<div class="container">
				<h2 class="text-2xl text-center">More titles</h2>
				<div class="area mx-auto grid w-full grid-cols-2 gap-8 py-12 lg:w-10/12 {{post.related_titles|length < 3 ? 'md:grid-cols-4' : 'md:grid-cols-3'}}">
				{% for item in post.meta('related_titles') %}
					<a data-category="{{item.terms('book-categories')[0].slug}}" class="block book-link group"
						href="{{site.url}}/head-of-the-fable/{{item.slug}}/">
						<img class="lazyload" data-src="{{item.meta('image').sizes.medium_large}}" alt="{{item.title}}" />
						<span class="block mt-4 font-sans text-lg font-bold text-center ">
							{{item.title}}
						</span>
					</a>
				{% endfor %}
				</div>
				
			</div>
		</div>
	{% endif %}

	
</div>
{% endblock %}
